<!DOCTYPE HTML>
<html>
<head>
    <title>index page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app/index.css">
</head>
<body>
	<div>
		<buttion id="btn-goboard" type="button">게시판</button>
	</div>
	<div id="div_box">box</div>
	
    <script type="text/javascript" src="/js/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app/index.js"></script>
</body>
</html>